a{
    text-decoration: none;
    color: black;
}
body{
    font-family: Comic Sans MS, Comic Sans, cursive;
}
.nav_text{
    font-size: 2.5vw;
    margin-right: 10vw;
}
.nav_lead{
    font-size: 3vw;
    margin-right: 2%;
}
.nav_link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_first{
    margin-left: 1%;
}
.nav_o{
    white-space: nowrap;
}

.navout{
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    align-items: center;
    background-color: #fff;
}
.head{
    background-color: #fff;
}
.head-text{
    color: #000;
    font-size: 500%;
    font-family: 'BebasNeue',Arial,sans-serif;
}
.head-img{
    width: 100%;
}
.img{
    width: 70%;
    margin-left: 5%;
}
.longsleeve{
    width: 50%;
    padding-top: 9px;
}
.name{
    margin-top: 2vw;
    margin-left: 8%;
    font-size: 2vw;
}
.price{
    margin-left: 8%;
    font-size: 2vw;
}
.header{
    width: 100%;
    position: fixed;
    background-color: #fff;
}
.section{
    display: flex;
}
.l_a{
    background-image: url("../img/r.jpg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 90% 60%;
}
.s_a{
    background-image: url("../img/O2.jpg");
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: 30% -10%; 
}
@media screen and (max-width: 900px) {
    .section{
        display: block;
    }
    .longsleeve{
        width: 100%;
    }
}